<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eerojaaskelainen.ostosbudjetti" >
<!--TODO: About-sivu ja sinne linkki ikonin sorsaan: http://icons8.com/license/-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shoppinglist.EditShoppinglistActivity"
            android:label="@string/title_activity_edit_shoppinglist"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eerojaaskelainen.ostosbudjetti.MainActivity" />
        </activity>
        <activity
            android:name=".items.AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".shoppinglist.EditShoppinglistActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".shoppinglist.EditShoppinglistActivity" />
        </activity>

        <provider
            android:name=".contentproviders.KaupatContentProvider"
            android:authorities="com.eerojaaskelainen.ostosbudjetti.kaupat"
            android:enabled="true"
            android:exported="true" >
        </provider>
        <provider
            android:name=".contentproviders.OstoksetContentProvider"
            android:authorities="com.eerojaaskelainen.ostosbudjetti.ostokset"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".shops.ShopsActivity"
            android:label="@string/title_activity_shops"
            android:parentActivityName=".shoppinglist.EditShoppinglistActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eerojaaskelainen.ostosbudjetti.shoppinglist.EditShoppinglistActivity" />
        </activity>
        <!--// Tämä on Google Play Services:ä varten (tarkemmin sanottuna GPS-pollausta varten)-->
        <!--<meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />-->


    </application>
    <!-- Ja tässä pyynti karkeaan sijainnin hakuun: -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>
